body {
    user-select: none;
    background-color: #bcbcbc;
    color: white;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:not(.social):hover {
    text-decoration: underline;
}

img {
    max-width: 125px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    margin-top: 10px;
    padding: 10px;
    color: #000000;
}

.social {
    transition: 0.2s ease-in-out;
}

.social:hover {
    color: #000000;
}

.content {
    display: inline-block;
    width: 100%;
    padding: 0px 16px 16px;
    margin-top: 10px;
    background-color: #afafaf;
    box-sizing: border-box;
}

.project {
    padding: 14px 16px;
    background-color: #9c9c9cff;
}

@keyframes jump {
    0% {
        content: url("resources/images/cyxigo.png");
        transform: translateY(0);
    }

    50% {
        content: url("resources/images/cute.png");
        transform: translateY(-50px);
    }

    100% {
        content: url("resources/images/cyxigo.png");
        transform: translateY(0);
    }
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes tremble {
    0% {
        transform: translate(2px, -2px);
    }

    25% {
        transform: translate(-2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(2px, -2px);
    }
}
