@keyframes jump {
    0% {
        content: url("resources/images/cats/cyxigo.png");
        transform: translateY(0);
    }

    50% {
        content: url("resources/images/cats/cute.png");
        transform: translateY(-50px);
    }

    100% {
        content: url("resources/images/cats/cyxigo.png");
        transform: translateY(0);
    }
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes tremble {
    0% {
        transform: translate(2px, -2px);
    }

    25% {
        transform: translate(-2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(2px, -2px);
    }
}

:root {
    font-family:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #bcbcbc;
    background-image: url("resources/images/cats/bg.png");
    background-repeat: repeat;
    background-size: 15vi;
    color: white;
    margin: 0;
    padding: 10px;
}

br {
    user-select: none;
}

button {
    border-width: 0px;
    user-select: none;
}

menu-bar {
    display: grid;
    background-color: #767676;
    border-radius: 6px;
}

menu-bar button {
    color: white;
}

a {
    color: #0047cc;
    text-decoration: none;
}

a:not(.social):hover {
    text-decoration: underline;
}

img {
    max-width: 125px;
    height: auto;
    margin-top: 5px;
    border-radius: 6px;
    user-select: none;
}

.content {
    display: inline-block;
    width: 100%;
    padding: 0px 16px 16px;
    margin-top: 10px;
    background-color: #afafafe6;
    box-sizing: border-box;
    border-radius: 6px;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.track-cover {
    display: inline-block;
    margin-right: 0.5vw;
}

.track-cover img {
    transition: 0.2s ease-in-out;
}

.track-cover img:hover {
    scale: 105%;
}

.section h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section {
    padding-left: inherit;
    padding-right: inherit;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    background-color: #9c9c9cff;
    border-radius: 6px;
}

.section:last-of-type {
    margin-bottom: 0;
}

.album-title {
    background-position: center;
    padding: 10px;
    font-weight: bold;
    margin-top: 2vh;
    font-size: 300%;
    border-radius: 6px;
    margin-bottom: 0;
}
